
header{
background-color:yellow;
text-align: center;
}

h1{
text-align: center;
color:red;
font-size:32;
font-family:Arial, sans-serif;
}

p {
color: green;
}

body{
background-image:url("../images/flower.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
footer {
text-align: center;
color: red;
font-size: 11;

}