
header{
background-color:blue;
text-align: center;
}

h1{
text-align: center;
color:red;
font-size:32;
font-family:Arial, sans-serif;
}

p {
color: green;
}

body{
background-image:
}